# Weekly Assignment 8
Code was written by Josh Sanchez. Last updated on November 12, 2023.

SQL query: Create an ordered list with the city of each province that has the most monuments along with the counts of the monuments.

In [2]:
import pandas as pd
import sqlite3

In [23]:
connection = sqlite3.connect(":memory:")
# Read the excel as pandas DataFrame
cities_df = pd.read_excel(
    """D:/Digital Humanities for the Ancient World/Hanson2016_CitiesDatabase_OxREP.xlsx""",
    sheet_name="cities",
)
monuments_df = pd.read_excel(
    """D:/Digital Humanities for the Ancient World/Hanson2016_CitiesDatabase_OxREP.xlsx""",
    sheet_name="monuments",
)

# Turn the DataFrames to SQL
cities_df.to_sql("cities", con=connection, index=False)
monuments_df.to_sql("monuments", con=connection, index=False)

pd.read_sql(
    """ SELECT c.ancient_toponym, COUNT(*) as "Count of monuments"
        FROM cities as c, monuments as m
        WHERE c.id=m.id
        GROUP BY m.id
        ORDER BY "Count of monuments" DESC
    """,
    connection
    )

         ancient_toponym  Count of monuments
0                   Roma                 236
1                Athenae                 107
2              Corinthia                  56
3               Pergamum                  50
4           Lepcis Magna                  46
...                  ...                 ...
1202               Balsa                   1
1203           Laumellum                   1
1204              Mantua                   1
1205              Albona                   1
1206  Tifernum Tiberinum                   1

[1207 rows x 2 columns]