# Weekly Assignment 8
Code was written by Josh Sanchez. Last updated November 16, 2023.

Write a SPARQL query to receive all Athenian writers of fifth-century BCE.

In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

In [3]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

In [7]:
sparql.setQuery("""
SELECT ?writer ?writerLabel

WHERE {
    ?writer wdt:P31 wd:Q5 .         # instance of human
    ?writer wdt:P106 wd:Q36180 .    # occupation writer
    ?writer wdt:P27 wd:Q844930 .    # citizen of Classical Athens
    ?writer wdt:P569 ?dtb .         # lived in the 5th century BCE (dtb before -400)
        FILTER(YEAR(?dtb) < -400)
    ?writer wdt:P570 ?dtd .         # lived in the 5th century BCE (dtd after -499)
        FILTER(YEAR(?dtd) > -499)

    SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}

""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
results_df = pd.json_normalize(results["results"]["bindings"])
results_df = results_df[["writer.value", "writerLabel.value"]]
# results_df["writer.value"] = results_df["writer.value"].apply(make_clickable)
results_df.style.format()